<!DOCTYPE html>
<html lang="en">
<head>
    <title>Electricity Management</title>
    <meta charset="UTF-8">
    <%- include("partials/head.ejs") %>
</head>

<body>
    <%- include("partials/header.ejs") %>

    <div id="loading" style="display: none">
        <img src="/img/loading.gif" alt="Loading..." />
    </div>

    <!--Main -->
    <div class="container"><br>
        <div class="row">
            <div class="col-12">
                <h2>Lịch sử số hóa công tơ điện</h2>
                <br>
                <div class="text-center">
                    <a href="" class="btn btn-info btn-rounded btn-sm" data-toggle="modal" data-target="#modelChangeRoom">Đổi phòng</a>
                </div>

                <div class="modal fade" id="modelChangeRoom" tabindex="-1" role="dialog" aria-labelledby="modelChangeRoom"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold text-primary ml-5">Thay đổi phòng</h4>
                                <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body mx-3">
                                <select id="roomList" class="browser-default custom-select">
                                    <option selected>Lựa chọn phòng</option>
                                </select>
                            </div>
                            <div class="modal-footer d-flex justify-content-center buttonAddFormWrapper">
                                <button class="btn btn-outline-primary btn-block buttonChangeRoom" data-dismiss="modal">Thay đổi
                                    <i class="fas fa-paper-plane-o ml-1"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <table id="historyTable" class="table table-striped table-hover table-responsive-md">
                    <thead style="background: #a9c6de">
                    <tr>
                        <th class="th-sm text-center">ID
                        </th>
                        <th class="th-sm text-center">Phòng
                        </th>
                        <th class="th-sm text-center">Tháng
                        </th>
                        <th class="th-sm text-center">Ảnh công tơ
                        </th>
                        <th class="th-sm text-center">Chỉ số công tơ
                        </th>
                        <th class="th-sm text-center">
                        </th>
                    </tr>
                    </thead>
                    <tbody class="text-center"></tbody>
                </table>

                <!-- Modal Delete-->
                <div class="modal fade" id="modalDeleteCell" tabindex="-1" role="dialog" aria-labelledby="modalDelete"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold ml-5 text-danger">Xóa hàng</h4>
                                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body mx-3">
                                <p class="text-center h4">Bạn chắc chắn muốn xóa hàng này?</p>
                                <input type="hidden" id="dataID"/>
                            </div>
                            <div class="modal-footer d-flex justify-content-center deleteButtonsWrapper">
                                <button type="button" class="btn btn-danger btnYesClass" id="buttonYes" data-dismiss="modal">Có</button>
                                <button type="button" class="btn btn-primary btnNoClass" id="buttonNo" data-dismiss="modal">Không</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer -->
    <%- include("partials/footer.ejs") %>
    <script type="text/javascript" src="/js/electricity/history.js"></script>
</body>
</html>
