<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
    <link href="/css/electricity/login.css" rel="stylesheet">
<body>
    <header>
        <section class="view intro-2">
            <div class="mask rgba-stylish-strong h-100 d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5">
                            <div class="card wow fadeIn" data-wow-delay="0.3s">
                                <div class="card-body">
                                    <div class="form-header blue-gradient">
                                        <img class="logo" src="/img/logoML.png">
                                    </div>
                                    <div class="md-form">
                                        <i class="fas fa-user prefix white-text"></i>
                                        <input type="text" id="orangeForm-name" class="form-control">
                                        <label for="orangeForm-name">Username</label>
                                    </div>

                                    <div class="md-form">
                                        <i class="fas fa-lock prefix white-text"></i>
                                        <input type="password" id="orangeForm-pass" class="form-control">
                                        <label for="orangeForm-pass">Password</label>
                                    </div>

                                    <div class="text-center">
                                        <button class="btn blue-gradient-rgba btn-lg">Login</button>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </header>

    <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <script type="text/javascript" src="https://momentjs.com/downloads/moment.js"></script>
    <script>
        new WOW().init();

        $(document).ready(function(){
        	sessionStorage.removeItem('metric_box_token');
            sessionStorage.removeItem('metric_box_expire');

        	$('button.btn').on('click', function(){
				let user_val = $('#orangeForm-name').val(),
					pass_val = $('#orangeForm-pass').val()

				$.ajax({
					url: '/api/auth/login',
					method: 'POST',
					data: {
						username: user_val,
						password: pass_val
					},
					success: function(r){
						if(r.success === true){
							toastr.success('Đăng nhập thành công. Đang điều hướng...');

							sessionStorage.setItem('metric_box_token', r.result.token)
							sessionStorage.setItem('metric_box_expire', String(moment().add('1', 'days').unix()));

							setTimeout(function(){
								window.location.href = '/'
							}, 2000)
						}
						else{
                            toastr.warning(String(r.message));
						}
					},
					error: function(e, h, r){
                        toastr.error(String(e));
					}
				})
            })
        })
    </script>
</body>

</html>
