<!DOCTYPE html>
<html lang="en">
<head>
    <title>Electricity Management</title>
    <meta charset="UTF-8">
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/css/electricity/main.css">
</head>

<body>
    <%- include("partials/header.ejs") %>

    <div id="loading" style="display: none">
        <img src="/img/loading.gif" alt="Loading..." />
    </div>

    <!--Main -->
    <div class="container"><br>
        <div class="wrapper-editor">
            <div class="row d-flex justify-content-center modalWrapper">

                <!-- Button -->
                <div class="text-center">
                    <a href="" class="btn btn-info btn-rounded btn-sm buttonAdd" data-toggle="modal" data-target="#modalAdd">Thay đổi giá điện</a>
                </div>
<!--                <div class="text-center">-->
<!--                    <a href="" class="btn btn-info btn-rounded btn-sm buttonAdd" data-toggle="modal" data-target="#">Xem biểu đồ</a>-->
<!--                </div>-->
            </div>
        </div>
        <table id="electricityTable" class="table table-striped table-hover table-responsive-md">
            <thead style="background: #a9c6de">
                <tr>
                    <th class="th-sm text-center">Phòng
                    </th>
                    <th class="th-sm text-center">Tháng
                    </th>
                    <th class="th-sm text-center">Số điện cũ
                    </th>
                    <th class="th-sm text-center">Số điện mới
                    </th>
                    <th class="th-sm text-center">Tổng số điện
                    </th>
                    <th class="th-sm text-center">Giá tiền (VNĐ)
                    </th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>502</td>
                    <td>7/2020</td>
                    <td>100</td>
                    <td>150</td>
                    <td>50</td>
                    <td>150000</td>
                </tr>
            </tbody>
        </table>

        <!-- Modal Delete-->
        <div class="modal fade" id="modalDeleteCell" tabindex="-1" role="dialog" aria-labelledby="modalDelete"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold ml-5 text-danger">Xóa hàng</h4>
                        <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <p class="text-center h4">Bạn chắc chắn muốn xóa hàng này?</p>
                    </div>
                    <div class="modal-footer d-flex justify-content-center deleteButtonsWrapper">
                        <button type="button" class="btn btn-danger btnYesClass" id="buttonYes" data-dismiss="modal">Có</button>
                        <button type="button" class="btn btn-primary btnNoClass" id="buttonNo" data-dismiss="modal">Không</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer -->
    <%- include("partials/footer.ejs") %>
    <script type="text/javascript" src="/js/electricity/main.js"></script>
</body>
</html>
